<form id="allot-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label for="c-wifi_ssid" class="control-label col-xs-12 col-sm-2">{:__('Wifi_ssid')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-wifi_ssid" data-rule="required;length(~50)" class="form-control" name="row[wifi_ssid]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Wifi_psk_type')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[wifi_psk_type]', ['psk2'=>__('psk2'), 'none'=>__('none')])}
        </div>
    </div>
   <div class="form-group wifi_passwd_div">
        <label for="c-wifi_passwd" class="control-label col-xs-12 col-sm-2">{:__('Wifi_passwd')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-wifi_passwd" data-rule="length(~50)" class="form-control" name="row[wifi_passwd]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Wifi_hot_spot')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[wifi_hot_spot]', ['open'=>__('Open'), 'close'=>__('Close')])}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[status]', ['normal'=>__('Normal'), 'hidden'=>__('Hidden')])}
        </div>
    </div>

    <input type="hidden" name="row[mac_ids]" />
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Choose custom')}:</label>
        <div class="col-xs-12 col-sm-8">
            <span class="text-muted"><input type="checkbox" name="" id="checkall" /> <label for="checkall"><small>{:__('Check all')}</small></label></span>
            <span class="text-muted"><input type="checkbox" name="" id="expandall" /> <label for="expandall"><small>{:__('Expand all')}</small></label></span>
            <div id="treeview"></div>
        </div>
    </div>

    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
<script>
    var nodeData = {:json_encode($nodeList); };
</script>