<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label  class="control-label col-xs-12 col-sm-2">{:__('Play_set')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_select('row[play_set]', $play_set_info, $row.play_set, ['class'=>'form-control selectpicker play_set', 'required'=>'', 'data-live-search'=>"true"])}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Save_set')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_select('row[save_set]', $save_at_info, $row.save_set, ['class'=>'form-control selectpicker save_set', 'required'=>'', 'data-live-search'=>"true"])}
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
