<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Custom_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_select('row[custom_id]', $custom_list, null,
            ['class'=>'form-control selectpicker custom_id', 'required'=>'true',
            'data-live-search'=>"true" ])}
        </div>
    </div>

    <div class="form-group">
        <label for="c-title" class="control-label col-xs-12 col-sm-2">{:__('Title')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-title" data-rule="required;length(~40)" class="form-control" name="row[title]" type="text">
        </div>
    </div>

    <div class="form-group">
        <label for="c-data_params" class="control-label col-xs-12 col-sm-2">{:__('Data_params')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-data_params" class="form-control" data-rule="required;length(~256)" name="row[data_params]"></textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Repeat_set')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[repeat_set]', $repeat_set_info)}
        </div>
    </div>

    <div class="form-group weekday_div" style="display: none;">
        <label class="control-label col-xs-12 col-sm-2">{:__('Weekday')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_checkboxs('row[weekday][]', $weekday_info)}
        </div>
    </div>

    <div class="form-group no_repeat_data_div">
        <label for="c-no_repeat_date" class="control-label col-xs-12 col-sm-2">{:__('Date')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-no_repeat_date" data-rule="required" class="form-control datetimepicker" name="row[no_repeat_date]"
                   data-date-format="YYYY-MM-DD" data-use-current="true"  type="text" value="{:date('Y-m-d')}">
        </div>
    </div>

    <div class="form-group start_time_div">
        <label for="c-start_time" class="control-label col-xs-12 col-sm-2">{:__('Start_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-start_time" data-rule="required" class="form-control datetimepicker" data-date-format="HH:mm:ss"
                   data-use-current="true" name="row[start_time]" type="text" value="{:date('H:i:s')}">
        </div>
    </div>

    <div class="form-group">
        <label for="c-end_time" class="control-label col-xs-12 col-sm-2">{:__('End_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-end_time" data-rule="required" class="form-control datetimepicker" data-date-format="HH:mm:ss"
                   data-use-current="true" name="row[end_time]" type="text" value="{:date('H:i:s')}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Out_to')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_select('row[out_to]', $out_to_info, null, ['class'=>'form-control out_to'])}
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[status]', ['normal'=>__('Normal'), 'hidden'=>__('Hidden')])}
        </div>
    </div>

    <input type="hidden" name="row[mac_ids]" />
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Choose device')}:</label>
        <div class="col-xs-12 col-sm-8">
            <span class="text-muted"><input type="checkbox" name="" id="checkall" /> <label for="checkall"><small>{:__('Check all')}</small></label></span>
            <div id="treeview"></div>
        </div>
    </div>

    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
