<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label for="c-custom_id" class="control-label col-xs-12 col-sm-2">{:__('Custom_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-custom_id" data-rule="required" data-source="custom/index" class="form-control selectpage" name="row[custom_id]" type="text" value="{$row.custom_id}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-title" class="control-label col-xs-12 col-sm-2">{:__('Title')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-title" data-rule="required" class="form-control" name="row[title]" type="text" value="{$row.title}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-data_params" class="control-label col-xs-12 col-sm-2">{:__('Data_params')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-data_params" data-rule="required" class="form-control" name="row[data_params]" type="text" value="{$row.data_params}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-repeat_set" class="control-label col-xs-12 col-sm-2">{:__('Repeat_set')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-repeat_set" data-rule="required" class="form-control" name="row[repeat_set]" type="text" value="{$row.repeat_set}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-weekday" class="control-label col-xs-12 col-sm-2">{:__('Weekday')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-weekday" data-rule="required" class="form-control" name="row[weekday]" type="text" value="{$row.weekday}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-no_repeat_date" class="control-label col-xs-12 col-sm-2">{:__('No_repeat_date')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-no_repeat_date" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD" data-use-current="true" name="row[no_repeat_date]" type="text" value="{$row.no_repeat_date}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-start_time" class="control-label col-xs-12 col-sm-2">{:__('Start_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-start_time" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[start_time]" type="text" value="{$row.start_time|datetime}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-end_time" class="control-label col-xs-12 col-sm-2">{:__('End_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-end_time" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[end_time]" type="text" value="{$row.end_time|datetime}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-out_to" class="control-label col-xs-12 col-sm-2">{:__('Out_to')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-out_to" data-rule="required" class="form-control" name="row[out_to]" type="text" value="{$row.out_to}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-status" class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-status" data-rule="required" class="form-control" name="row[status]" type="text" value="{$row.status}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-mac_ids" class="control-label col-xs-12 col-sm-2">{:__('Mac_ids')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-mac_ids" data-rule="required" class="form-control " rows="5" name="row[mac_ids]" cols="50">{$row.mac_ids}</textarea>
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
