<div class="col-md-8">
    <div class="box box-success">
        <div class="panel-body">
            <div class="form-group">
                <label class="control-label">{:__('Aaa_account')}:</label>
                <input type="text" class="form-control" name="row[aaa_account]" value="{$row.aaa_account}" disabled />
            </div>
            <div class="form-group">
                <label class="control-label">{:__('Aaa_passwd')}:</label>
                <input type="text" class="form-control" name="row[aaa_account]" value="{$row.aaa_passwd}" disabled />
            </div>
            <div class="form-group">
                <label class="control-label">{:__('Brand')}:</label>
                <input type="text" class="form-control" name="row[aaa_account]" value="{$row.brand}" disabled />
            </div>
            <div class="form-group">
                <label class="control-label">{:__('Board')}:</label>
                <input type="text" class="form-control" name="row[aaa_account]" value="{$row.board}" disabled />
            </div>
            <div class="form-group">
                <label class="control-label">{:__('Network_mode')}:</label>
                <input type="text" class="form-control" name="row[aaa_account]" value="{$row.network_mode}" disabled />
            </div>
            <div class="form-group">
                <label class="control-label">{:__('Itv_mode')}:</label>
                <input type="text" class="form-control" name="row[aaa_account]" value="{$row.itv_mode}" disabled />
            </div>
            <div class="form-group">
                <label class="control-label">{:__('Wan_mode')}:</label>
                <input type="text" class="form-control" name="row[aaa_account]" value="{$row.wan_mode}" disabled />
            </div>
            <div class="form-group">
                <label class="control-label">{:__('Itv_dhcp_user')}:</label>
                <input type="text" class="form-control" name="row[aaa_account]" value="{$row.itv_dhcp_user}" disabled />
            </div>
            <div class="form-group">
                <label class="control-label">{:__('Itv_dhcp_pwd')}:</label>
                <input type="text" class="form-control" name="row[aaa_account]" value="{$row.itv_dhcp_pwd}" disabled />
            </div>
            <div class="form-group">
                <label class="control-label">{:__('Itv_pppoe_user')}:</label>
                <input type="text" class="form-control" name="row[aaa_account]" value="{$row.itv_pppoe_user}" disabled />
            </div>
            <div class="form-group">
                <label class="control-label">{:__('Itv_pppoe_pwd')}:</label>
                <input type="text" class="form-control" name="row[aaa_account]" value="{$row.itv_pppoe_pwd}" disabled />
            </div>
            <div class="form-group">
                <label class="control-label">{:__('Itv_static_ip')}:</label>
                <input type="text" class="form-control" name="row[aaa_account]" value="{$row.itv_static_ip}" disabled />
            </div>
            <div class="form-group">
                <label class="control-label">{:__('Itv_netmask')}:</label>
                <input type="text" class="form-control" name="row[aaa_account]" value="{$row.itv_netmask}" disabled />
            </div>
            <div class="form-group">
                <label class="control-label">{:__('Itv_gateway')}:</label>
                <input type="text" class="form-control" name="row[aaa_account]" value="{$row.itv_gateway}" disabled />
            </div>
            <div class="form-group">
                <label class="control-label">{:__('Itv_dns1')}:</label>
                <input type="text" class="form-control" name="row[aaa_account]" value="{$row.itv_dns1}" disabled />
            </div>
            <div class="form-group">
                <label class="control-label">{:__('Itv_dns2')}:</label>
                <input type="text" class="form-control" name="row[aaa_account]" value="{$row.itv_dns2}" disabled />
            </div>
            <div class="form-group">
                <label class="control-label">{:__('Wan_pppoe_user')}:</label>
                <input type="text" class="form-control" name="row[aaa_account]" value="{$row.wan_pppoe_user}" disabled />
            </div>
            <div class="form-group">
                <label class="control-label">{:__('Wan_pppoe_pwd')}:</label>
                <input type="text" class="form-control" name="row[aaa_account]" value="{$row.wan_pppoe_pwd}" disabled />
            </div>
            <div class="form-group">
                <label class="control-label">{:__('Wan_static_ip')}:</label>
                <input type="text" class="form-control" name="row[aaa_account]" value="{$row.wan_static_ip}" disabled />
            </div>
            <div class="form-group">
                <label class="control-label">{:__('Wan_netmask')}:</label>
                <input type="text" class="form-control" name="row[aaa_account]" value="{$row.wan_netmask}" disabled />
            </div>
            <div class="form-group">
                <label class="control-label">{:__('Wan_gateway')}:</label>
                <input type="text" class="form-control" name="row[aaa_account]" value="{$row.wan_gateway}" disabled />
            </div>
            <div class="form-group">
                <label class="control-label">{:__('Wan_dns1')}:</label>
                <input type="text" class="form-control" name="row[aaa_account]" value="{$row.wan_dns1}" disabled />
            </div>
            <div class="form-group">
                <label class="control-label">{:__('Wan_dns2')}:</label>
                <input type="text" class="form-control" name="row[aaa_account]" value="{$row.wan_dns2}" disabled />
            </div>
            <div class="form-group">
                <label class="control-label">{:__('Itv_version')}:</label>
                <input type="text" class="form-control" name="row[aaa_account]" value="{$row.itv_version}" disabled />
            </div>
            <div class="form-group">
                <label class="control-label">{:__('Route_firmware_version')}:</label>
                <input type="text" class="form-control" name="row[aaa_account]" value="{$row.route_firmware_version}" disabled />
            </div>
            <div class="form-group">
                <label class="control-label">{:__('Wan_pppoe_ip')}:</label>
                <input type="text" class="form-control" name="row[aaa_account]" value="{$row.wan_pppoe_ip}" disabled />
            </div>
            <div class="form-group">
                <label class="control-label">{:__('Wan_dhcp_ip')}:</label>
                <input type="text" class="form-control" name="row[aaa_account]" value="{$row.wan_dhcp_ip}" disabled />
            </div>
            <div class="form-group">
                <label class="control-label">{:__('Wlan_number')}:</label>
                <input type="text" class="form-control" name="row[aaa_account]" value="{$row.vlan_number}" disabled />
            </div>
            <div class="form-group">
                <label class="control-label">{:__('Vlan_status')}:</label>
                <input type="text" class="form-control" name="row[aaa_account]" value="{$row.vlan_status}" disabled />
            </div>
            <div class="form-group">
                <label class="control-label">{:__('Itv_pppoe_ip')}:</label>
                <input type="text" class="form-control" name="row[aaa_account]" value="{$row.itv_pppoe_ip}" disabled />
            </div>
            <div class="form-group">
                <label class="control-label">{:__('Itv_dhcp_ip')}:</label>
                <input type="text" class="form-control" name="row[aaa_account]" value="{$row.itv_dhcp_ip}" disabled />
            </div>
            <div class="form-group">
                <label class="control-label">{:__('Itv_dhcp_plus_ip')}:</label>
                <input type="text" class="form-control" name="row[aaa_account]" value="{$row.itv_dhcp_plus_ip}" disabled />
            </div>
            <div class="form-group">
                <label class="control-label">{:__('Boot_time')}:</label>
                <input type="text" class="form-control" name="row[aaa_account]" value="{$row.boot_time}" disabled />
            </div>
        </div>
    </div>

</div>