<div class="col-md-8">
    <div class="box box-success">
        <div class="panel-body">
            <label class="control-label">{:__('Reboot')}:</label>
            <div class="form-group">
                <div class="col-xs-3">
                    <input type="text" class="form-control" value="{:__('Oder name')}" disabled />
                </div>
                <div class="col-xs-3">
                    <input type="text" class="form-control" value="{:__('Order set time')}" disabled />
                </div>
                <div class="col-xs-3">
                    <input type="text" class="form-control" value="{:__('Response result')}" disabled />
                </div>
                <div class="col-xs-3">
                    <input type="text" class="form-control" value="{:__('Response time')}" disabled />
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-3">
                    <input type="text" class="form-control" value="{:__($row.reboot_set)}" disabled />
                </div>
                <div class="col-xs-3">
                    <input type="text" class="form-control" value="{:__($row.reboot_set_time)}" disabled />
                </div>
                <div class="col-xs-3">
                    <input type="text" class="form-control" value="{:__($row.reboot_result)}" disabled />
                </div>
                <div class="col-xs-3">
                    <input type="text" class="form-control" value="{:__($row.reboot_result_time)}" disabled />
                </div>
            </div>
        </div>

        <div class="panel-body">
            <label class="control-label">{:__('Clean')}:</label>
            <div class="form-group">
                <div class="col-xs-3">
                    <input type="text" class="form-control" value="{:__('Oder name')}" disabled />
                </div>
                <div class="col-xs-3">
                    <input type="text" class="form-control" value="{:__('Order set time')}" disabled />
                </div>
                <div class="col-xs-3">
                    <input type="text" class="form-control" value="{:__('Response result')}" disabled />
                </div>
                <div class="col-xs-3">
                    <input type="text" class="form-control" value="{:__('Response time')}" disabled />
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-3">
                    <input type="text" class="form-control" value="{:__($row.clean_set)}" disabled />
                </div>
                <div class="col-xs-3">
                    <input type="text" class="form-control" value="{:__($row.clean_set_time)}" disabled />
                </div>
                <div class="col-xs-3">
                    <input type="text" class="form-control" value="{:__($row.clean_result)}" disabled />
                </div>
                <div class="col-xs-3">
                    <input type="text" class="form-control" value="{:__($row.clean_result_time)}" disabled />
                </div>
            </div>
        </div>

        <div class="panel-body">
            <label class="control-label">{:__('Wifi set')}:</label>
            <div class="form-group">
                <div class="col-xs-3">
                    <input type="text" class="form-control" value="{:__('Oder name')}" disabled />
                </div>
                <div class="col-xs-3">
                    <input type="text" class="form-control" value="{:__('Order set time')}" disabled />
                </div>
                <div class="col-xs-3">
                    <input type="text" class="form-control" value="{:__('Response result')}" disabled />
                </div>
                <div class="col-xs-3">
                    <input type="text" class="form-control" value="{:__('Response time')}" disabled />
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-3">
                    <input type="text" class="form-control" value="{:__($row.wifi_set)}" disabled />
                </div>
                <div class="col-xs-3">
                    <input type="text" class="form-control" value="{:__($row.wifi_set_time)}" disabled />
                </div>
                <div class="col-xs-3">
                    <input type="text" class="form-control" value="{:__($row.wifi_result)}" disabled />
                </div>
                <div class="col-xs-3">
                    <input type="text" class="form-control" value="{:__($row.wifi_result_time)}" disabled />
                </div>
            </div>
        </div>

        <div class="panel-body">
            <label class="control-label">{:__('Sleep set')}:</label>
            <div class="form-group">
                <div class="col-xs-6">
                    <input type="text" class="form-control" value="{:__('Oder name')}" disabled />
                </div>
                <div class="col-xs-6">
                    <input type="text" class="form-control" value="{:__('Response result')}" disabled />
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-6">
                    <input type="text" class="form-control" value="{:__($row.sleep_set)}" disabled />
                </div>
                <div class="col-xs-6">
                    <input type="text" class="form-control" value="{:__($row.sleep_result)}" disabled />
                </div>
            </div>
        </div>
    </div>

</div>