<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label for="c-utc" class="control-label col-xs-12 col-sm-2">{:__('Utc')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-utc" class="form-control" name="row[utc]" type="text" value="{$row.utc}" readonly="readonly">
        </div>
    </div>

    <div class="form-group">
        <label for="c-version" class="control-label col-xs-12 col-sm-2">{:__('Version')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-version" class="form-control" name="row[version]" type="text" value="{$row.version}" readonly="readonly">
        </div>
    </div>

    <div class="form-group">
        <label for="c-filepath" class="control-label col-xs-12 col-sm-2">{:__('Filepath')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-filepath" readonly="readonly" class="form-control" name="row[filepath]" type="text" value="{$row.filepath}">
                <input type="hidden" name="row[sha1]" id="c-sha1" value="{$row.sha1}"/>
                <input id="c-size" name="row[size]" type="hidden" value="{$row.size}"/>
                <div class="input-group-addon no-border no-padding">
                    <span>
                        <button id="plupload-filepath" class="btn btn-primary plupload" data-input-id="c-filepath"
                                data-upload-success="true" data-url="{:url('upload')}" data-mimetype="zip">
                                <i class="fa fa-upload"></i> {:__("Upload")}
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="c-name" class="control-label col-xs-12 col-sm-2">{:__('Name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-name" data-rule="required;length(~40)" class="form-control" name="row[name]" type="text" value="{$row.name}">
        </div>
    </div>

    <div class="form-group">
        <label for="c-discription" class="control-label col-xs-12 col-sm-2">{:__('Discription')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-discription" data-rule="required;length(~256)" class="form-control" name="row[discription]" type="text" value="{$row.discription}">
        </div>
    </div>

    <div class="form-group">
        <label for="c-status" class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[status]', ['normal'=>__('Normal'), 'hidden'=>__('Hidden')], $row.status )}
        </div>
    </div>

    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
