<script type="text/javascript" src="__CDN__/assets/libs/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="__CDN__/assets/libs/bootstrap-select/js/bootstrap-select.js"></script>
<link rel="stylesheet" type="text/css" href="__CDN__/assets/libs/bootstrap-select//dist/css/bootstrap-select.css">

<div class="panel panel-default panel-intro">
    {:build_heading()}

    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <div class="widget-body no-padding">
                    <div id="toolbar" class="toolbar">
                        <a href="javascript:;" class="btn btn-primary btn-refresh" title="{:__('Refresh')}" ><i class="fa fa-refresh"></i> </a>
                        <a href="javascript:;" class="btn btn-success btn-bind {:$auth->check('customcontro/bindcustom/bind')?'':'hide'}" title="{:__('Bind')}" ><i class="fa fa-plus"></i> {:__('Bind')}</a>
                        <a href="javascript:;" class="btn btn-danger btn-delete btn-disabled disabled {:$auth->check('customcontro/bindcustom/delete')?'':'hide'}" title="{:__('Delete')}" ><i class="fa fa-trash"></i> {:__('Delete')}</a>
                        <div class="btn-group">
                            <div class="">
                                {:build_select('row[id]', $admin_list, null, ['class'=>'form-control admin_select selectpicker', 'data-live-search'=>"true"])}
                            </div>
                        </div>

                    </div>
                    <table id="table" class="table table-striped table-bordered table-hover" 
                           data-operate-edit="{:$auth->check('customcontro/bindcustom/edit')}" 
                           data-operate-del="{:$auth->check('customcontro/bindcustom/del')}" 
                           width="100%">
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
